*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

:root {
    --orange: #FF9900;
    --light-orange: #FFB84D;
    --dark-orange: #E1670E;
    --light-green: #97EE3F;
    --white: #FFFFFF;
    --light-gray: #CACACA;
    --gray: rgba(0, 0, 0, 0.5);
    --dark-gray: #666666;
    --light-black: #414141;
    --black: #000000;
}

body, textarea, input, button {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: var(--black);
}

/*================ Container ================*/

.container {
    width: 100%;
    max-width: 1770px;
    margin: 0 auto;
}

/*================ Button ================*/

.button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 700;
    color: var(--white);
    text-decoration: none;
    border-radius: 16px;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}

/*================ Swiper ================*/

.swiper {
    width: 1770px;
    height: 620px;
    border-radius: 32px;
}

.swiper-slide {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 32px;
}

.slide-01 {
    background-image: url('../images/hero/hero-bg-01.png');
}

.slide-02 {
    background-image: url('../images/hero/hero-bg-02.png');
}

.slide-03 {
    background-image: url('../images/hero/hero-bg-03.png');
}

.swiper-pagination {
    bottom: 30px !important;
}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    margin: 0 !important;
    background: var(--white);
}

.swiper-pagination-bullet:not(:first-child) {
    margin-left: 20px !important;
}

/*================ Header ================*/

.header {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 32px 32px;
}

.header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100px;
}

.burger {
    display: none;
    cursor: pointer;
    z-index: 5;
}

.burger__line {
    display: block;
    width: 30px;
    height: 3px;
    background-color: var(--black);
    -webkit-transition: .1s linear;
    -o-transition: .1s linear;
    transition: .1s linear;
}

.burger-active .burger__line:nth-child(1) {
    transform: rotate(45deg) translate3d(7px, 7px, 0);
}

.burger-active .burger__line:nth-child(2) {
    opacity: 0;
}

.burger-active .burger__line:nth-child(3) {
    transform: rotate(-45deg) translate3d(7px, -7px, 0);
}

.burger:hover .burger__line,
.burger:focus .burger__line {
    background-color: var(--orange);
}

.burger:active .burger__line {
    background-color: var(--dark-orange);
}

.burger__line:not(:first-child) {
    margin-top: 7px;
}

.burger__menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 420px;
    height: 100vh;
    padding: 170px 0 249px 50px;
    background: var(--white);
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 32px 32px;
    opacity: 0;
    visibility: hidden;
    transition: .2s linear;
    z-index: 2;
}

.burger__menu-active {
    opacity: 1;
    visibility: visible;
}

.burger__menu-list {
    list-style: none;
}

.burger__menu-item:not(:first-child) {
    margin-top: 60px;
}

.burger__menu-link {
    font-size: 24px;
    font-weight: 700;
    color: var(--black);
    text-decoration: none;
}

.burger__menu-link:hover,
.burger__menu-link:focus {
    color: var(--orange);
}

.burger__menu-link:active {
    color: var(--dark-orange);
}

.menu {
    margin-left: 553px;
}

.menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
}

.menu__item:not(:first-child) {
    margin-left: 85px;
}

.menu__link {
    position: relative;
    font-size: 18px;
    font-weight: 600;
    color: var(--black);
    text-decoration: none;
}

.menu__link::before {
    content: "";
    position: absolute;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: transparent;
    -webkit-transition: .1s linear;
    -o-transition: .1s linear;
    transition: .1s linear;
}

.menu__link:hover::before,
.menu__link:focus::before {
    background-color: var(--orange);
}

.menu__link:active {
    color: var(--dark-orange);
}

.menu__link:active::before {
    background-color: var(--dark-orange);
}

.search {
    margin-left: 260px;
    cursor: pointer;
}

/*================ Hero ================*/

.hero {
    padding: 50px 0 25px;
}

.hero__content {
    position: relative;
    height: 620px;
    color: var(--white);
}

.hero__title {
    position: absolute;
    top: 100px;
    left: 80px;
    width: 837px;
    font-size: 70px;
    font-weight: 800;
    z-index: 1;
}

.hero__text {
    position: absolute;
    top: 270px;
    left: 80px;
    width: 790px;
    font-size: 24px;
    font-weight: 700;
    z-index: 1;
}

.hero__button {
    position: absolute;
    top: 390px;
    left: 80px;
    min-width: 280px;
    min-height: 78px;
    font-size: 23px;
    z-index: 1;
}

.hero__button_orange {
    background-color: var(--orange);
}

.hero__button_orange:hover,
.hero__button_orange:focus {
    background-color: var(--light-orange);
}

.hero__button_orange:active {
    background-color: var(--dark-orange);
}

/*================ About ================*/

.about {
    padding: 25px 0 50px;
}

.about__title {
    font-size: 48px;
    font-weight: 400;
}

.about__text {
    margin-top: 20px;
    line-height: 32px;
    text-align: justify;
}

.about__columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin-top: 50px;
}

.about__column {
    width: 50%;
}

.about__column:not(:first-child) {
    margin-left: 32px;
}

.about__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    left: 0;
    top: 426px;
    padding: 0 50px;
    width: 868px;
    height: 196px;
    background: rgba(0, 0, 0, 0.5);
    color: var(--white);
    border-radius: 27px;
}

.about__row-text {
    width: 433px;
    font-weight: 700;
    line-height: 32px;
    text-align: justify;
}

.about__button {
    min-width: 175px;
    min-height: 60px;
}

.about__button_border {
    border: 3px solid var(--orange);
}

.about__button_border:hover,
.about__button_border:focus {
    background-color: var(--orange);
}

.about__button_border:active {
    background-color: var(--dark-orange);
}

.about__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    padding: 64px 0 64px 300px;
    border: 1px solid var(--light-gray);
    border-radius: 32px;
}

.about__item:not(:first-child) {
    margin-top: 32px;
}

.about__ellipse {
    position: absolute;
    left: 60px;
    top: 110px;
    width: 120px;
    height: 120px;
    background-color: var(--orange);
    border-radius: 50%;
}

.about__package {
    position: absolute;
    left: 131px;
    top: 65px;
}

.about__gear {
    position: absolute;
    left: 114px;
    top: 65px;
}

.about__block-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
}

.about__item-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
}

.about__item-text {
    width: 450px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 8px;
    text-align: justify;
}

/*================ How ================*/

.how {
    padding: 50px 0 55px;
}

.how__title {
    font-size: 48px;
    font-weight: 400;
}

.how__steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50px;
}

.how__step {
    font-size: 18px;
    cursor: pointer;
    -webkit-transition: .1s linear;
    -o-transition: .1s linear;
    transition: .1s linear;
}

.how__step:hover,
.how__step:focus {
    color: var(--orange);
}

.how__step:active {
    color: var(--dark-orange);
}

.how__step:not(:first-child) {
    margin-left: 85px;
}

.how__columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 55px;
}

.how__column {
    width: 50%;
}

.how__column:not(:first-child) {
    margin-left: 32px;
}

.how__column-image {
    display: none;
    height: 460px;
    border-radius: 32px;
}

.how__column-image-active {
    display: block;
}

.how__column-image:nth-child(1) {
    background: url(../images/how/bg-01.png);
}

.how__column-image:nth-child(2) {
    background: url(../images/how/bg-02.png);
}

.how__column-image:nth-child(3) {
    background: url(../images/how/bg-03.png);
}

.how__column-image:nth-child(4) {
    background: url(../images/how/bg-04.png);
}

.how__block-text {
    display: none;
}

.how__block-text-active {
    display: block;
}

.how__text {
    width: 758px;
    margin-top: 8px;
    line-height: 32px;
    text-align: justify;
}

.how__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 18px;
}

.how__button {
    min-width: 175px;
    min-height: 60px;
}

.how__button:nth-child(2) {
    min-width: 148px;
    font-weight: 400;
    color: var(--black);
}

.how__button:not(:first-child) {
    margin-left: 32px;
}

.how__button_orange {
    background-color: var(--orange);
}

.how__button_orange:hover,
.how__button_orange:focus {
    background-color: var(--light-orange);
}

.how__button_orange:active {
    background-color: var(--dark-orange);
}

.how__button_border {
    border: 1px solid var(--black);
}

.how__button_border:hover,
.how__button_border:focus {
    color: var(--white);
    background-color: var(--dark-gray);
    border-color: var(--dark-gray);
}

.how__button_border:active {
    background-color: var(--black);
    border-color: var(--black);
}

/*================ Faq ================*/

.faq {
    padding: 55px 0 100px;
}

.faq__title {
    font-size: 48px;
    font-weight: 400;
}

.faq__accordion {
    margin-top: 32px;
}

.faq__accordion-item {
    border-top: 1px solid var(--light-gray);
}

.faq__accordion-item:last-child {
    border-bottom: 1px solid var(--light-gray);
}

.faq__accordion-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 40px 0;
}

.faq__accordion-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.faq__accordion-text {
    display: none;
    padding-bottom: 40px;
    max-width: 1003px;
    line-height: 32px;
    text-align: justify;
}

.faq__accordion-text.is-active {
    display: block;
}

.faq__accordion-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50px;
    height: 50px;
    background-color: var(--light-gray);
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

.faq__accordion-button.is-active {
    -webkit-transform: rotateZ(45deg);
        -ms-transform: rotate(45deg);
            transform: rotateZ(45deg);
}

/*================ Footer ================*/

.footer {
    padding: 50px 0;
    background-color: var(--black);
}

.footer__columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.footer__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.footer__menu {
    margin-top: 20px;
}

.footer__menu-link {
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
    color: var(--light-gray);
    text-decoration: none;
    -webkit-transition: .1s linear;
    -o-transition: .1s linear;
    transition: .1s linear;
}

.footer__menu-link:hover,
.footer__menu-link:focus {
    color: var(--orange)
}

.footer__menu-link:active {
    color: var(--dark-orange);
}

.social {
    margin-top: 90px;
}

.social__link {
    text-decoration: none;
}

.social__link:not(:first-child) {
    margin-left: 25px;
}

.footer__title {
    font-size: 48px;
    font-weight: 400;
    color: var(--light-gray);
}

.form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 25px;
}

.form__input {
    padding: 0 24px;
    width: 570px;
    height: 60px;
    font-size: 16px;
    color: var(--light-gray);
    background-color: var(--light-black);
    border: none;
    outline: none;
    border-radius: 16px;
}

.form__input:not(:first-child) {
    margin-top: 25px;
}

.form__input:nth-child(3) {
    padding-top: 14px;
    height: 150px;
    resize: none;
}

.form__input::-webkit-input-placeholder {
    color: var(--light-gray);
}

.form__input::-moz-placeholder {
    color: var(--light-gray);
}

.form__input:-ms-input-placeholder {
    color: var(--light-gray);
}

.form__input::-ms-input-placeholder {
    color: var(--light-gray);
}

.form__input::placeholder {
    color: var(--light-gray);
}

.form__button {
    width: 269px;
    height: 58px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    cursor: pointer;
    margin-top: 32px;
    border: none;
}

.form__button_orange {
    background-color: var(--orange);
}

.form__button_orange:hover,
.form__button_orange:focus {
    background-color: var(--light-orange);
}

.form__button_orange:active {
    background-color: var(--dark-orange);
}

.footer__text {
    width: 363px;
    line-height: 32px;
    color: var(--light-gray);
    margin-top: 87px;
    text-align: justify;
}