*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --orange: #FF9900;
    --light-orange: #FFB84D;
    --dark-orange: #E1670E;
    --light-green: #97EE3F;
    --white: #FFFFFF;
    --light-gray: #CACACA;
    --gray: rgba(0, 0, 0, 0.5);
    --dark-gray: #666666;
    --light-black: #414141;
    --black: #000000;
}

body, textarea, input, button {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: var(--black);
}

/*================ Container ================*/

.container {
    width: 100%;
    max-width: 1770px;
    margin: 0 auto;
}

/*================ Button ================*/

.button {
    font-weight: 700;
    color: var(--white);
    text-decoration: none;
    border-radius: 16px;
    transition: .2s ease;
}

/*================ Header ================*/

.header {
    background: #FFFFFF;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 32px 32px;
}

.header__content {
    display: flex;
    align-items: center;
    height: 100px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger__line {
    display: block;
    width: 30px;
    height: 3px;
    background-color: var(--black);
    transition: .1s linear;
}

.burger:hover .burger__line,
.burger:focus .burger__line {
    background-color: var(--orange);
}

.burger:active .burger__line {
    background-color: var(--dark-orange);
}

.burger__line:not(:first-child) {
    margin-top: 7px;
}

.menu {
    margin-left: 553px;
}

.menu__list {
    display: flex;
    list-style: none;
}

.menu__item:not(:first-child) {
    margin-left: 85px;
}

.menu__link {
    position: relative;
    color: var(--black);
    font-weight: 600;
    text-decoration: none;
}

.menu__link::before {
    content: "";
    position: absolute;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transition: .1s linear;
}

.menu__link:hover::before,
.menu__link:focus::before {
    background-color: var(--orange);
}

.menu__link:active {
    color: var(--dark-orange);
}

.menu__link:active::before {
    background-color: var(--dark-orange);
}

.search {
    margin-left: 260px;
    cursor: pointer;
}

/*================ Hero ================*/

.hero {
    padding: 50px 0 25px;
}

.hero__content {
    position: relative;
    background: url('../images/hero/hero-bg-01.png');
    background-repeat: no-repeat;
    color: var(--white);
    height: 620px;
}

.hero__title {
    position: absolute;
    top: 100px;
    left: 80px;
    width: 837px;
    font-size: 70px;
    font-weight: 800;
}

.hero__text {
    position: absolute;
    top: 294px;
    left: 80px;
    width: 790px;
    font-size: 24px;
    font-weight: 700;
}

.hero__button {
    position: absolute;
    top: 442px;
    left: 80px;
    padding: 25px 39px;
    font-size: 23px;
}

.hero__button_orange {
    background-color: var(--orange);
}

.hero__button_orange:hover,
.hero__button_orange:focus {
    background-color: var(--light-orange);
}

.hero__button_orange:active {
    background-color: var(--dark-orange);
}

.hero__dots {
    display: flex;
    position: absolute;
    left: 843px;
    bottom: 30px;
}

.hero__dot {
    width: 15px;
    height: 15px;
    background-color: var(--light-gray);
    border-radius: 50%;
    cursor: pointer;
}

.hero__dot:not(:first-child) {
    margin-left: 20px;
}

.hero__dot:focus,
.hero__dot:active {
    background-color: var(--white);
}

/*================ About ================*/

.about {
    padding: 25px 0 50px;
}

.about__title {
    font-size: 48px;
    font-weight: 400;
}

.about__text {
    margin-top: 20px;
    max-width: 1235px;
    line-height: 32px;
}

.about__columns {
    display: flex;
    position: relative;
    margin-top: 50px;
}

.about__column {
    width: 50%;
}

.about__column:not(:first-child) {
    margin-left: 32px;
}

.about__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    top: 426px;
    padding: 0 50px;
    width: 868px;
    height: 196px;
    background: rgba(0, 0, 0, 0.5);
    color: var(--white);
    border-radius: 32px;
}

.about__row-text {
    width: 433px;
    font-weight: 700;
    line-height: 32px;
}

.about__button {
    padding: 20px 38px;
}

.about__button_border {
    border: 3px solid var(--orange);
}

.about__button_border:hover,
.about__button_border:focus {
    background-color: var(--orange);
}

.about__button_border:active {
    background-color: var(--dark-orange);
}

.about__item {
    display: flex;
    position: relative;
    padding: 64px 0 64px 300px;
    border: 1px solid var(--light-gray);
    border-radius: 32px;
}

.about__item:not(:first-child) {
    margin-top: 32px;
}

.about__ellipse {
    position: absolute;
    left: 60px;
    top: 110px;
    width: 120px;
    height: 120px;
    background-color: var(--orange);
    border-radius: 50%;
}

.about__package {
    position: absolute;
    left: 131px;
    top: 65px;
}

.about__gear {
    position: absolute;
    left: 114px;
    top: 65px;
}

.about__block-text {
    display: flex;
    flex-direction: column;
    margin-left: 0;
}

.about__item-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
}

.about__item-text {
    width: 450px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 8px;
}

/*================ How ================*/

.how {
    padding: 50px 0 55px;
}

.how__title {
    font-size: 48px;
    font-weight: 400;
}

.how__steps {
    display: flex;
    margin-top: 50px;
}

.how__step {
    font-size: 18px;
    cursor: pointer;
    transition: .1s linear;
}

.how__step:hover,
.how__step:focus {
    color: var(--orange);
}

.how__step:active {
    color: var(--dark-orange);
}

.how__step:not(:first-child) {
    margin-left: 85px;
}

.how__columns {
    display: flex;
    margin-top: 55px;
}

.how__column {
    width: 50%;
}

.how__column:not(:first-child) {
    margin-left: 32px;
}

.how__text {
    width: 758px;
    margin-top: 8px;
    line-height: 32px;
}

.how__buttons {
    margin-top: 38px;
}

.how__button {
    padding: 20px 38px;
}

.how__button:nth-child(2) {
    font-weight: 400;
    color: var(--black);
}

.how__button:not(:first-child) {
    margin-left: 32px;
}

.how__button_orange {
    background-color: var(--orange);
}

.how__button_orange:hover,
.how__button_orange:focus {
    background-color: var(--light-orange);
}

.how__button_orange:active {
    background-color: var(--dark-orange);
}

.how__button_border {
    border: 1px solid var(--black);
}

.how__button_border:hover,
.how__button_border:focus {
    color: var(--white);
    background-color: var(--dark-gray);
    border-color: var(--dark-gray);
}

.how__button_border:active {
    background-color: var(--black);
    border-color: var(--black);
}

/*================ Faq ================*/

.faq {
    padding: 55px 0 100px;
}

.faq__title {
    font-size: 48px;
    font-weight: 400;
}

.faq__accordion {
    margin-top: 32px;
}

.faq__accordion-item {
    border-top: 1px solid var(--light-gray);
}

.faq__accordion-item:last-child {
    border-bottom: 1px solid var(--light-gray);
}

.faq__accordion-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

.faq__accordion-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.faq__accordion-text {
    display: none;
    padding-bottom: 40px;
    max-width: 1003px;
    line-height: 32px;
}

.faq__accordion-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: var(--light-gray);
    border-radius: 50%;
    cursor: pointer;
}

/*================ Footer ================*/

.footer {
    padding: 50px 0;
    background-color: var(--black);
}

.footer__columns {
    display: flex;
    justify-content: space-between;
}

.footer__column {
    display: flex;
    flex-direction: column;
}

.footer__menu {
    margin-top: 20px;
}

.footer__menu-link {
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
    color: var(--light-gray);
    text-decoration: none;
    transition: .1s linear;
}

.footer__menu-link:hover,
.footer__menu-link:focus {
    color: var(--orange)
}

.footer__menu-link:active {
    color: var(--dark-orange);
}

.social {
    margin-top: 90px;
}

.social__link {
    text-decoration: none;
}

.social__link:not(:first-child) {
    margin-left: 25px;
}

.footer__title {
    font-size: 48px;
    font-weight: 400;
    color: var(--light-gray);
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.form__input {
    padding-left: 24px;
    width: 570px;
    height: 60px;
    font-size: 16px;
    color: var(--light-gray);
    background-color: var(--light-black);
    border: none;
    outline: none;
    border-radius: 16px;
}

.form__input:not(:first-child) {
    margin-top: 25px;
}

.form__input:nth-child(3) {
    padding-top: 14px;
    height: 150px;
    resize: none;
}

.form__input::placeholder {
    color: var(--light-gray);
}

.form__button {
    width: 269px;
    height: 58px;
    align-self: center;
    cursor: pointer;
    margin-top: 32px;
}

.form__button_orange {
    background-color: var(--orange);
}

.form__button_orange:hover,
.form__button_orange:focus {
    background-color: var(--light-orange);
}

.form__button_orange:active {
    background-color: var(--dark-orange);
}

.footer__text {
    width: 363px;
    line-height: 32px;
    color: var(--light-gray);
    margin-top: 87px;
}

/*================ Media queries ================*/

/*================ 1024px ================*/

@media (max-width: 1024px) {
    .container {
        max-width: 924px;
    }
    .header__content {
        justify-content: space-between;
    }
    .menu {
        display: none;
    }
    .burger {
        display: block;
    }
    .search {
        margin: 0;
    }
    .hero {
        padding: 40px 0 17px;
    }
    .hero__content {
        background: url('../images/hero/hero-bg-01-1.png');
        height: 668px;
    }
    .hero__title {
        left: 77px;
        top: 160px;
        width: 770px;
        font-size: 60px;
    }
    .hero__text {
        left: 77px;
        top: 322px;
        width: 660px;
        font-size: 20px;
    }
    .hero__button {
        top: 430px;
        left: 77px;
    }
    .hero__dots {
        left: 420px;
    }
    .about {
        padding: 25px 0 50px;
    }
    .about__text {
        max-width: 929px;
    }
    .about__columns {
        flex-direction: column;
        margin-top: 60px;
    }
    .about__column {
        width: 100%;
        max-height: 640px;
    }
    .about__column:not(:first-child) {
        margin: 32px 0 0;
    }
    .about__image {
        width: 100%;
        height: 640px;
    }
    .about__row {
        width: 100%;
        top: 444px;
    }
    .about__item {
        padding-left: 317px;
    }
    .about__ellipse {
        left: 77px;
    }
    .about__package {
        left: 148px;
    }
    .about__gear {
        left: 131px;
    } 
    .how {
        padding: 40px 0;
    }
    .how__columns {
        margin-top: 62px;
    }
    .how__column {
        min-height: 751px;
    }
    .how__column:last-child {
        background-image: url('../images/how/bg-01-1.png');
        background-repeat: no-repeat;
    }
    .how__text {
        width: 437px;
    }
    .how__buttons {
        margin-top: 45px;
    }
    .how__image {
        display: none;
    }
    .faq {
        padding: 40px 0 80px;
    }
    .faq__accordion-title {
        font-size: 20px;
    }
    .faq__accordion-text {
        max-width: 655px;
    }
    .footer__column:last-child {
        display: none;
    }
    .form__input {
        width: 541px;
    }
}

/*================ 768px ================*/

@media (max-width: 768px) {
    .container {
        max-width: 668px;
    }
    .header__content {
        height: 69px;
    }
    .hero__content {
        background: url('../images/hero/hero-bg-01-2.png');
        height: 662px;
    }
    .hero__title {
        left: 40px;
        font-size: 50px;
    }
    .hero__text {
        left: 40px;
        top: 298px;
        width: 588px;
        font-size: 18px;
    }
    .hero__button {
        top: 424px;
        left: 40px;
    }
    .hero__dots {
        left: 292px;
    }
    .about__text {
        max-width: 668px;
    }
    .about__column {
        width: 100%;
        max-height: 650px;
    }
    .about__image {
        height: 650px;
    }
    .about__row {
        width: 100%;
        top: 454px;
    }
    .about__row-text {
        width: 366px;
    }
    .about__item {
        padding: 34px 0 34px 170px;
    }    
    .about__ellipse {
        top: 95px;
        left: 40px;
        width: 72px;
        height: 72px;
    }
    .about__package {
        left: 82px;
        width: 71px;
        height: 79px;
    }
    .about__gear {
        left: 72px;
        width: 81px;
        height: 81px;
    }
    .how__step:not(:first-child) {
        margin-left: 155px;
    }    
    .how__columns {
        flex-direction: column-reverse;
        margin-top: 50px;
    }
    .how__column {
        width: 100%;
        min-height: 284px;
    }
    .how__column:last-child {
        background-image: url('../images/how/bg-01-2.png');
    }
    .how__column:not(:first-child) {
        margin-left: 0;
        margin-bottom: 38px;
    }
    .how__text {
        width: 100%;
    }
    .faq {
        padding: 25px 0 111px;
    }
    .faq__accordion-row {
        padding: 30px 0;
    }
    .faq__accordion-title {
        max-width: 576px;
    }
    .faq__accordion-text {
        max-width: 465px;
    }
    .footer {
        padding: 40px 0;
    }
    .footer__logo {
        margin-top: 50px;
    }
    .footer__columns {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    .footer__column {
        align-items: center;
    }
    .footer__menu {
        display: none;
    }
    .form__input {
        width: 570px;
    }
    .social {
        margin-top: 16px;
    }
}

/*================ 320px ================*/

@media (max-width: 426px) {
    .container {
        max-width: 290px;
    }
    .button {
        font-size: 12px;
        border-radius: 8px;
    }
    .header__logo-image {
        width: 110px;
    }
    .hero {
        padding: 30px 0;
    }
    .hero__content {
        background: url('../images/hero/hero-bg-01-3.png');
        height: 308px;
    }
    .hero__title {
        top: 60px;
        left: 22px;
        width: 247px;
        font-size: 20px;
        text-align: center;
    }
    .hero__text {
        left: 22px;
        top: 115px;
        width: 247px;
        font-size: 12px;
        text-align: center;
    }
    .hero__button {
        top: 208px;
        left: 64px;
        padding: 13px 28px;
    }
    .hero__dots {
        left: 110px;
        bottom: 15px;
    }
    .hero__dot {
        width: 10px;
        height: 10px;
    }
    .about {
        padding: 30px 0;
    }
    .about__title {
        font-size: 24px;
    }
    .about__text {
        max-width: 290px;
        font-size: 14px;
        line-height: 28px;
    }
    .about__columns {
        margin-top: 14px;
    }
    .about__image {
        height: 200px;
    }
    .about__row {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        top: 0;
        padding: 0;
        background: transparent;
        color: var(--black);
    }
    .about__row-text {
        width: 100%;
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
    }
    .about__button {
        padding: 12px 44px;
        line-height: 14px;
        color: var(--orange);
    }
    .about__button_border {
        border-width: 2px;
    }
    .about__item {
        flex-direction: column;
        padding: 0;
        margin-top: 61px;
        border: none;
    }
    .about__item:not(:first-child) {
        margin-top: 93px;
    }
    .about__item-title {
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
    }
    .about__item-text {
        width: 100%;
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        margin-top: 4px;
    }
    .about__ellipse {
        top: -55px;
        left: 0;
        width: 43px;
        height: 43px;
    }
    .about__package {
        top: -61px;
        left: 21px;
        width: 43px;
        height: 48px;
    }
    .about__gear {
        top: -61px;
        left: 21px;
        width: 43px;
        height: 43px;
    }
    .how {
        padding: 30px 0;
    }
    .how__title {
        font-size: 24px;
    }
    .how__steps {
        margin-top: 20px;
    }
    .how__step {
        font-size: 14px;
    }
    .how__step:not(:first-child) {
        margin-left: 44px;
    }    
    .how__columns {
        margin-top: 16px;
    }
    .how__column {
        min-height: 160px;
    }
    .how__column:last-child {
        background-image: url('../images/how/bg-01-3.png');
    }
    .how__column:not(:first-child) {
        margin-bottom: 16px;
    }
    .how__block-text-title {
        font-weight: 500;
    }
    .how__text {
        font-size: 14px;
        line-height: 28px;
    }
    .how__buttons {
        display: flex;
        margin-top: 37px;
    }
    .how__button {
        padding: 13px 44px 12px;
    }
    .how__button:nth-child(2) {
        padding: 12px 32px;
    }
    
    .how__button:not(:first-child) {
        margin-left: 10px;
    }
    .faq {
        padding: 30px 0 60px;
    }
    .faq__title {
        font-size: 24px;
    }
    .faq__accordion {
        margin-top: 16px;
    }
    .faq__accordion-title {
        max-width: 245px;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
    }
    .faq__accordion-button {
        width: 30px;
        height: 30px;
    }
    .faq__accordion-button-icon {
        width: 18px;
        height: 18px;
    }
    .faq__accordion-text {
        max-width: 100%;
    }
    .footer {
        padding: 30px 0;
    }
    .footer__title {
        align-self: flex-start;
        font-size: 24px;
    }
    .footer__logo {
        margin-top: 33px;
    }
    .footer__logo-image {
        width: 131px;
    }
    .form {
        margin-top: 20px;
    }
    .form__input {
        width: 290px;
    }
    .form__button {
        width: 180px;
        height: 39px;
        margin-top: 25px;
    }
    .social {
        margin-top: 16px;
    }
    .social__link:not(:first-child) {
        margin-left: 16px;
    }
    .social__icon {
        width: 40px;
        height: 40px;
    }
}